<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>---.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>497836956.445867</real>
				<key>lastModification</key>
				<real>497836956.445867</real>
				<key>version</key>
				<dict>
					<key>574eb425b0bcefacd4db0d167f85b149d99e7ea1b8dca998a4714f1cfbfb922c</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2015-02-14-using_composer_with_legacy_applications.md</key>
			<dict>
				<key>lastModification</key>
				<real>497836783.19043201</real>
				<key>version</key>
				<dict>
					<key>574eb425b0bcefacd4db0d167f85b149d99e7ea1b8dca998a4714f1cfbfb922c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-05-json-schema-references.md</key>
			<dict>
				<key>lastModification</key>
				<real>497836783.19043303</real>
				<key>version</key>
				<dict>
					<key>574eb425b0bcefacd4db0d167f85b149d99e7ea1b8dca998a4714f1cfbfb922c</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>---.md</string>
		</array>
		<array>
			<string>2015-02-14-using_composer_with_legacy_applications.md</string>
		</array>
		<array>
			<string>2016-05-05-json-schema-references.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>574eb425b0bcefacd4db0d167f85b149d99e7ea1b8dca998a4714f1cfbfb922c</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
